.gridContainer {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 36px;
  row-gap: 30px;
}

.pagination-divider {
  border-top: 1px solid #969bab;
  margin-top: 40px;
  margin-bottom: 20px;
}

.pagination {
  width: 65%;
  height: 30px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.hidden {
  visibility: hidden;
}

.pageNum {
  cursor: pointer;
  width: 20px;
  text-align: center;
}

.current {
  color:blueviolet;
  font-weight: 700;
  text-decoration: underline;
}

.prev-next-button {
  cursor: pointer;
  width: fit-content;
  text-align: center;
}

.first-last-button {
  cursor: pointer;
  width: fit-content;
  text-align: center;
}