.filter-form h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin: 18px 0;
}

.filter-form select {
  background-color: #eee;
  border: none;
  padding: 0.5em 1em;
  margin-left: 4px;
  width: 85%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #474a57;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
}

.filter-form select option:hover {
  background-color: #8c30f5;
}

.filter-form select:hover {
  background-color: #ccc;
}

.form-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 9px;
}

.results-line {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.current-filters-tags {
  font-style: italic;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  margin-top: 8px;
  color: #000000;
}

.clear-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  color: red;
}

.form-divider {
  border-top: 1px solid #969bab;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-form .check-item {
  display: block;
  position: relative;
  padding-left: 42px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #000;
  text-transform: unset;
  align-items: center;
}

.check-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 6px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 3px;
  margin-left: 4px;
}

.check-item:hover input ~ .checkmark {
  background-color: #ccc;
}


.check-item input:checked ~ .checkmark {
  background-color: #8c30f5;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.check-item input:checked ~ .checkmark:after {
  display: block;
}


.check-item .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.create-breed-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  gap: 16px;
  width: 100%;
  height: 48px;
  border: 1px solid #8c30f5;
  border-radius: 6px;
  margin-top: 36px;
}

.create-breed-button p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8c30f5;
}

.right-arrow {
  width: 18px;
  height: 18px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.spacer {
  height: 12px;
}