.searchContainer {
  width: 100%;
  height: max-content;
  padding: 22px;
  background-color: blueviolet;
  /* align-items: center;
  display: block;
  justify-content: center;
  justify-items: center; */
}

.search-line {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchInput {
  align-items: center;
  padding: 14px 16px;
  width: 248px;
  height: 36px;

  /* Text / Gray 100 */

  background: #f4f5f7;
  border-radius: 5px 0px 0px 5px;
  border: none;
  font-size: 14px;
}

.searchButton {
  /* Label / Medium Label */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  align-items: center;

  color: #ffffff;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;

  width: max-content;
  height: 36px;

  background: #18191f;
  border-radius: 0px 5px 5px 0px;
  color: #f4f5f7;
}

.error-container {
  justify-content: center;
  width: max-content;
  margin: auto;
  margin-top: 6px;
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0.6);
  color: red;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

.network-error {
  justify-content: center;
  width: max-content;
  margin: auto;
  margin-top: 6px;
  padding: 1px 8px;
  background-color: rgba(255, 255, 255, 0.6);
  color: red;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

.error-visible {
  visibility: visible;
}

.error-hidden {
  visibility: collapse;
}
