.new-breed-screen {
  background-color: rgba(140, 48, 245, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 10vh;
}

.form-card {
  width: 70%;
  height: max-content;
  min-width: 700px;
  background-color: #fff;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 6px;
}

.card-header {
  display: flex;
  background-color: #f1e4ff;
  align-items: center;
}

.card-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-block: 24px;
  margin: 0 auto;
}

.back-btn {
  display: flex;
  height: 48px;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #8c30f5;
  background-color: transparent;
  border: none;
  padding-left: 12px;
  cursor: pointer;
}

.card-body {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
}

.breed-image {
  object-fit: cover;
  width: 50%;
  border-radius: 0 0 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.breed-form {
  margin: 0;
  width: 50%;
  padding: 24px 24px 24px 24px;
}

label {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin-bottom: 3px;
  margin-top: 12px;
}

label.temperament-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-group {
  margin-top: 0;
}

.form-control {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.middle-body {
  width: 100%;
  display: flex;
}

.left-col {
  width: 55%;
  padding-right: 12px;
}

.right-col {
  width: 45%;
  padding-left: 12px;
  position: relative;
}

.temps-list {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
}

.temp-card-wrapper {
  background-color: #f1e4ff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  margin: 6px 8px 4px 0;
}

.temp-name {
  margin-right: 8px;
  font-style:normal;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  color: #18191f;
}

.remove-temp {
    font-style:normal;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    color: #18191f;
}

.remove-temp:hover {
    font-weight: 800;
    color: red;
    cursor: pointer;
}

.sub-label {
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  margin-top: 0;
  margin-bottom: 0px;
}

.double-input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.sub-input {
  width: 45%;
  min-width: 32px;
}

.field-error {
  margin-bottom: 16px;
  color: red;
  border-radius: 6px;
  border: none;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
}

.btn-create {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 auto;
}

.btn-create.enabled {
  color: #f1e4ff;
  background: #8c30f5;
}

.btn-create.disabled {
  color: #d6b1ff;
  background: #f1e4ff;
}

.LOADING {
  color: blue;
  border-radius: 6px;
  border: none;
  font-size: 10px;
  font-weight: 300;
  padding: 4px 12px;
  margin: 4px auto;
}

.ERROR {
  background: red;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-size: 10px;
  font-weight: 300;
  padding: 4px 12px;
  margin: 4px auto;
}

.SUCCESS {
  background: green;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-size: 10px;
  font-weight: 300;
  padding: 4px 12px;
  margin: 4px auto;
}

.UPDATING_BREEDS {
  background: green;
  color: #fff;
  border-radius: 6px;
  border: none;
  font-size: 10px;
  font-weight: 300;
  padding: 4px 12px;
  margin: 4px auto;
}

.footer {
  position: relative;
  bottom: 0;
}
